/* Title*/
.custom-navbar a.nav-link{
  color: #6B705C !important;
}
.custom-navbar{
  border-bottom: 2px solid #6B705C !important;
  display: flex;  
  flex-wrap: wrap;  
  justify-content: center;  
  padding: 1rem 0rem 1rem 0rem;  
  margin-bottom: 1.5rem;
}
.logo{
  height: 50px;
  margin: 20px;
  margin-left: 0px;
  align-items: flex-start !important;
}
a.brand{
 display: flex; 
 align-items: center;
 margin-bottom: 16px; 
 margin-right: auto; 
 text-decoration: none;
}
.navbutton{
  background-color: #B7B7A4 !important;
}
.nav-pills{
  margin-top: 25px;
}
body{
  background-color:#F8F6F4;
  background-image: url("https://raw.githubusercontent.com/Valentina96012/CVSStudios/main/images/bg-texture.jpg")!important;
  background-size: 130%;
  animation: fadeInBg 1s ease-in-out;
}

@keyframes fadeInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.chungus{
  font-family: OldStandardTT;
}
.smol{
  font-family: Mulish !important;
}
.brand>span{
  color: #6B705C !important;
  font-size: 3vh !important;
}

/*Hero*/
.txtblock{
  color: #6B705C !important;
}
.hero-img{
  filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.3));
}
#Hero .chungus{
  color: #6B705C !important;
}
.jumbotron{
  width: 95% !important;
  color: #A5A58D !important;
  padding-top: 0px !important;
}
#Hero .btn-primary {
  background-color: #6B705C !important;
  color: #B7B7A4 !important;
  border-color: #A5A58D !important;
} 
#Hero .btn-outline-secondary {
  color: #A5A58D !important;
  border-color: #A5A58D !important;
}
/*Fairs*/
#Fairs > div> h2{
  color: #6B705C;
  font-weight: 600;
}
#Fairs > div > ul{
  list-style-type: none;
  margin: 1rem 0rem 2rem 0rem;
}
.year{
  font-size: larger;
  font-weight: 500;
}
#Fairs > div ul.smol{
  margin: 1rem 0rem 1rem 0rem;
}
 #Fairs > div{
  color: #A5A58D;
  padding-left: 12px;
  padding-right: 12px;

}
#Fairs>div>ul>ul>li>span{
  display: block;
}
#Fairs .location{
  font-style: italic;
}
#Fairs a{
  color: #A5A58D;
}


/* Footer*/
.smol>span{
  color: #6B705C !important;
  margin-bottom: 0px !important; 
}
.bi-brush{
  color: #6B705C;
}
.bi-instagram{
  color: #6B705C;
}
.foot{
  border-top: 2px solid #6B705C !important;
}

/*Media Querries: header stack for small screens*/
@media(max-width: 1200px){
  .custom-navbar{
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    margin: 0px;
    margin-bottom: 1.5rem !important;
  }
  .brand .chungus{
    font-size: 50px !important;
  }
  .logo{
    margin: 10px ;
    height: 30px ;
  }
  a.brand{
    margin-right: 0;
    margin-left: 0; 
    margin: auto !important; 
  }
  .brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-bottom: 16px;
  }
  .nav-pills{
    justify-content: space-around ;
    margin-top: 0px ;
  }
  header{
    flex-direction: column;
  }

}
