
/*Title*/
.custom-navbar a.nav-link{
  color: #6B705C !important;
}
.custom-navbar{
  border-bottom: 2px solid #6B705C !important;
  display: flex;  
  flex-wrap: wrap;  
  justify-content: center;  
  padding: 1rem 0rem 1rem 0rem;  
  margin-bottom: 1.5rem;
}
.logo{
  height: 50px;
  margin: 20px;
  margin-left: 0px;
  align-items: flex-start !important;
}
a.brand{
 display: flex; 
 align-items: center;
 margin-bottom: 16px; 
 margin-right: auto; 
 text-decoration: none;
}
.navbutton{
  background-color: #B7B7A4 !important;
}
.nav-pills{
  margin-top: 25px;
}
body{
  background-color:#F8F6F4 !important;
  background-image: url("/images/PaperTexture.jpg");
  background-size: 130%;
}
.chungus{
  font-family: OldStandardTT;
}
.smol{
  font-family: Mulish !important;
}
.brand>span{
  color: #6B705C !important;
  font-size: 3vh !important;
}

/*Hero*/
#hero .chungus{
  color: #6B705C !important;
}
.hero-img{
  filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.3));
}

.jumbotron{
  width: 95% !important;
  color: #B7B7A4 !important;
  padding-top: 0px !important;
}
#hero .btn-primary {
  background-color: #6B705C !important;
  color: #B7B7A4 !important;
  border-color: #B7B7A4 !important;
} 
#hero .btn-outline-secondary {
  color: #B7B7A4 !important;
  border-color: #B7B7A4 !important;
} 

/* Gallery Section filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.3)); (for png shadows)*/
  #gallery .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.grid-item img{
  height: 100%;
  width:  100%;
  object-fit: contain;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 8px ridge #e7e7e7;
}
.botanical img{
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.tall{
  grid-row: span 2;
}

/* Footer*/
.smol>span{
  color: #6B705C !important;
  margin-bottom: 0px !important; 
}
.bi-brush{
  color: #6B705C;
}
.bi-instagram{
  color: #6B705C;
}
.foot{
  border-top: 2px solid #6B705C !important;
}


/*Media Querries: header stack for small screens*/
@media(max-width: 1200px){
  .custom-navbar{
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    margin: 0px;
    margin-bottom: 1.5rem !important;
  }
  .brand .chungus{
    font-size: 50px !important;
  }
  .logo{
    margin: 10px ;
    height: 30px ;
  }
  a.brand{
    margin-right: 0;
    margin-left: 0; 
    margin: auto !important; 
  }
  .brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    margin-bottom: 16px;
  }
  .nav-pills{
    justify-content: space-around ;
    margin-top: 0px ;
  }
  header{
    flex-direction: column;
  }

}
